<div class="card-block marketing-card p-t-0">
  <div class="card">
    <div class="card-header">
      <h5>Users</h5>
    </div>
    <div class="card-body">
      <div class="table-content crm-table">
        <div class="project-table">
          <div id="crm-contact" class="dt-responsive">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                  <label class="label-control">Show entries
                  </label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                  <label>Search:</label>
                </div>
              </div>
            </div>
            <!-- <div class="panel-heading">User information</div> #mf="mfDataTable" [mfData]="data | dataFilter : filterQuery" 
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"-->

            <table class="table-responsive">
              <thead>
                <!-- <tr>
                <th>
                  <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="u_fullname">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="u_email">Email</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="u_company">Company</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="u_about">About</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="u_mobileno">Mobile No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter>Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr> -->
              </thead>
              <tbody>
                <!-- <tr *ngFor="let item of data">
                <td>
                  <div class="initials" *ngIf='item.showinitials'><span style="text-align: center;">{{item.initials}}</span></div>
                  <img *ngIf='!item.showinitials' src="{{item.u_image}}" class="d-inline-block img-circle " alt="tbl">
                </td>
                <td>{{item.u_fullname}}</td>
                <td>{{item.u_email}}</td>
                <td>{{item.u_company}}</td>
                <td>{{item.u_about}}</td>
                <td>{{item.u_mobileno}}</td>
                <td class="action-icon">
                  <a href="javascript:void(0);" routerLink="/users/details/{{item.u_token}}" class="m-r-15 crm-action-edit text-muted text-primary"><i class="icofont icofont-brand-flikr text-muted"></i></a>
                  <a href="javascript:void(0);" (click)="deleteUser(item)" class="crm-action-delete text-muted text-danger"><i class="icofont icofont-delete-alt"></i></a>
                </td>
              </tr> -->
                <tr *ngFor="let load of data; let i = index;">
                  <td>
                    <div class="card-img card-img-main">
                      <div class="initials" *ngIf='load.showinitials'><span
                          style="text-align: center;">{{load.initials}}</span></div>
                      <img class="img-rounded" src="{{load.u_image}}" alt="{{load.u_fullname}}"
                        *ngIf='!load.showinitials'>
                    </div>
                    <div class="table-contain">
                      <h6>{{load.u_fullname}}</h6>
                      <p class="livestock-box m-r-5">Livestock: 10</p>
                      <p class="loads-box m-r-5">Loads: {{load.no_of_loads}}</p>
                      <p class="weight-box m-r-5">weight: {{load.total_weight}} Lbs</p>
                    </div>
                  </td>
                  <!-- <td>
          <p>John Doe</p>
        </td>
        <td>
          <p>Mark Hensen</p>
        </td> -->
                  <td>
                    <p class="text-muted">{{load.pickup_address}} <i
                        class="text-l-yellow f-16 icofont icofont icofont-exchange m-r-5 m-l-5"></i>
                      {{load.drop_address}}</p>
                  </td>
                  <td>
                    <i class="text-c-green icofont icofont icofont-flag f-16 m-r-10"></i>{{load.journey_status}}
                  </td>
                  <td>
                    <button class="btn btn-light dropdown-toggle" type="button"
                      routerLink="/users/details/{{load.u_token}}"><i
                        class="icofont icofont-brand-flikr text-muted"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <!-- <tr>
                <th>Profile</th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>About</th>
                <th>Mobile No.</th>
              </tr> -->
                <tr>
                  <td colspan="7">
                    <!-- <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator> -->
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>