<div class="comparison">

  <table>
    <thead>
      <tr>
        <th class="tl tl2"></th>
        <th class="qbse">
          FREE
        </th>
        <th class="qbo">
          PREMIUM
        </th>
      </tr></thead>

    <tbody>


      <tr>
        <td></td>
      </tr>
      <tr class="compare-row">
        <td>Contact</td>
        <td class="td-center-middle"><input type="checkbox" id="no-contact" name="no-contact" value="no-contact"></td>
        <td class="td-center-middle"><input type="checkbox" id="no-contact" name="no-contact" value="no-contact"></td>
      </tr>


      <tr>
      </tr>
      <tr>
        <td>Ratings</td>
        <td class="td-center-middle"><input type="checkbox" id="no-rating" name="no-rating" value="no-rating"></td>
        <td class="td-center-middle"><input type="checkbox" id="no-contact" name="no-contact" value="no-contact"></td>
      </tr>

      <tr>
        <td></td>
      </tr>
      <tr class="compare-row">
        <td>Drop-off</td>
        <td class="td-center-middle"><input type="checkbox" id="no-drop-off" name="no-drop-off" value="no-drop-off"></td>
        <td class="td-center-middle"><input type="checkbox" id="no-contact" name="no-contact" value="no-contact"></td>
      </tr>


      <tr>
      </tr>
      <tr>
        <td>Pickup Address</td>
        <td class="td-center-middle"><input type="checkbox" id="no-pickup-address" name="no-pickup-address" value="no-pickup-address"></td>
        <td class="td-center-middle"><input type="checkbox" id="no-contact" name="no-contact" value="no-contact"></td>
      </tr>
      
         </tbody>
  </table>

</div>